.socialIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 180ms ease;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.iconPath {
  transition: fill 180ms ease;
  fill: rgb(var(--color-white));
}

.socialIcon:hover .iconPath {
  fill: rgb(var(--color-yellow));
}
