:root {
  --color-dark: 12 9 14;
  --color-circle: 20 9 26;
  --color-orange: 209 122 22;
  --color-purple: 158 19 224;
  --color-yellow: 254 233 125;
  --color-white: 255 255 255;
  --color-ink: 20 9 26;
  --color-mobile-bg: 86 0 128;

  --font-main: 'HalvarBreit', sans-serif;
}
